.*
!.gitignore
!.gitmodules
!.gitattributes
!.editorconfig

# Apache2 files
!.htaccess

# VSCode files
!.vscode/

# Composer files
vendor/

# NodeJS files
node_modules/

# GitHub files
!.github

# webpack output
pub/

# js-beautify files
!.jsbeautifyrc
