@use 'defs' as *;

@mixin fixed-width {
    @include nobr;
    display: inline-block;
    min-width: 18%;
    font-size: 0.8em;
}

@mixin for-input {
    border-color: var(--line-color);
    border-style: solid;
    background-color: transparent;
}

form {
    fieldset {
        @include border;
        margin: 0.5em 0;
        padding: 0;

        legend {
            font-family: var(--header-font);
            font-size: 0.8em;
        }
    }

    div.buttons {
        text-align: center;

        span#-span-insert-new {
            float: right;
        }
    }

    div.field {
        margin: 2px;
        width: 100%;

        span.label {
            display: inline-block;
            font-family: var(--header-font);
            text-align: right;
            width: 15%;
            vertical-align: top;
        }

        input[type=text],
        input[type=number],
        input[type=date],
        input[type=password] {
            @include for-input;
            width: 80%;
            border-width: 0 0 1px;
        }

        textarea {
            @include for-input;
            width: 80%;
            margin-top: 0.3em;
        }

        div.checkbox {
            @include border;
            @include for-input;
            display: inline-block;
            width: 80%;

            span {
                @include fixed-width;
            }
        }
    }

    fieldset.checkbox {
        span {
            @include fixed-width;
        }
    }

    fieldset.links {
        span {
            @include nobr;
            display: inline-block;
            font-size: 0.8em;
            margin-left: 1ex;
            margin-right: 1ex;
        }
    }
}
