form {
    fieldset {
        @extend .border;
        margin: 0.5em 0;
        padding: 0;

        legend {
            font-family: Sans-Serif;
            font-size: 0.8em;
        }
    }

    input[type=submit] {
        @extend .centered;
    }

    div.field {
        margin: 2px;
        width: 100%;

        span.label {
            display: inline-block;
            font-weight: bold;
            text-align: right;
            width: 15%;
        }

        input[type=text],
        input[type=password] {
            width: 80%;
        }

        textarea {
            width: 80%;
            margin-top: 0.3em;
            vertical-align: top;
        }
    }

    fieldset.checkboxes {
        @extend .border;
        padding: 1px;
        display: inline-block;
        width: 100%;
        vertical-align: top;

        span.checkbox {
            display: inline-block;
            min-width: 18%;
            white-space: nowrap;
            font-size: 0.8em;
        }
    }
}
