@mixin fixed-width {
    @extend .nobr;
    display: inline-block;
    min-width: 18%;
    font-size: 0.8em;
}

form {
    fieldset {
        @extend .border;
        margin: 0.5em 0;
        padding: 0;

        legend {
            font-family: $headerFont;
            font-size: 0.8em;
        }
    }

    div.buttons {
        text-align: center;

        span#-span-insert-new {
            float: right;
        }
    }

    div.field {
        margin: 2px;
        width: 100%;

        span.label {
            display: inline-block;
            font-family: $headerFont;
            text-align: right;
            width: 15%;
            vertical-align: top;
        }

        input[type=text],
        input[type=password] {
            width: 80%;
        }

        textarea {
            width: 80%;
            margin-top: 0.3em;
        }

        div.checkbox {
            @extend .border;
            display: inline-block;
            width: 80%;

            span {
                @include fixed-width;
            }
        }
    }

    fieldset.checkbox {
        span {
            @include fixed-width;
        }
    }

    fieldset.links {
        span {
            @extend .nobr;
            display: inline-block;
            font-size: 0.8em;
            margin-left: 1ex;
            margin-right: 1ex;
        }
    }
}
