* {
    box-sizing: border-box;
}

@media screen and (max-resolution: 96dpi) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-resolution: 96dpi) {
    html {
        font-size: 20px;
    }
}

$redColor: #F55;
$greenColor: #0A0;
$whiteColor: #FFF;
$blackColor: #000;
$greyColor: #999;

$bgColor:#DEF;
$fgColor: $blackColor;
$barColor: $whiteColor;
$linkColor:#55F;
$visitedLinkColor: #A0A;
$hoverLinkBgColor: #FFF;
$hoverLinkColor: $redColor;
$sysColor: $greenColor;
$highColor: #FFA;
$lineColor: #AAA;

$normalFont: Serif;
$headerFont: Sans-Serif;
$titleFont: Fantasy;
$letterSpacing: 0.1em;

$barHeight: 31px;
$listWidth: 18rem;

body {
    margin: 0 !important;
    background-color: $bgColor !important;
    color: $fgColor;
    font-family: $normalFont;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: $letterSpacing;
    -webkit-font-smoothing: antialiased;
}

em {
    font-style: inherit;
    text-decoration: underline;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.red {
    color: $redColor;
}

.green {
    color: $greenColor;
}

.black {
    color: $blackColor;
}

a {
    background: transparent;
    text-decoration: none;

    &:link {
        color: $linkColor;
    }

    &:visited {
        color: $visitedLinkColor;
    }

    &:hover {
        background: $hoverLinkBgColor;
        color: $hoverLinkColor;
    }
}

.sys {
    color: $sysColor !important;
}

div#bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $barHeight;
    background: $fgColor;
    color: $barColor;
    clear: both;
    z-index: 1000;

    img#logo {
        vertical-align: top;
        float: left;
    }

    a {
        color: $fgColor;
    }
}

div#list {
    font-family: $headerFont;

    fieldset {
        margin: 0.3em;
        border: 1px solid $greyColor;
        padding: 0;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 1ex 1ex 1ex 4ex;
            padding: 0;
        }

        li.highlighted,
        li.highlighted a {
            background-color: $highColor;
        }
    }

    p {
        margin-left: 1ex;
        padding: 0;
    }

    .button {
        display: inline-block;
        border: 1px solid $greyColor;
        border-radius: 8px;
        width: $listWidth - 5rem;
        text-align: center;
    }
}

@media screen and (min-width: 54rem) {
    div#list {
        position: sticky;
        left: 0;
        top: $barHeight;
        width: $listWidth;
        float: left;
        margin-bottom: $barHeight;
    }

    div#main {
        margin-top: $barHeight;
        margin-left: $listWidth;
        border: 1px solid transparent;
        margin-bottom: $barHeight;

        div#meta {
            position: sticky;
            left: $listWidth;
            top: $barHeight;
        }
    }

    div#breadcrumbs {
        display: inline-block;
        font-family: $headerFont;

        a {
            color: $whiteColor;
        }
    }
}

@media screen and (max-width: 54rem) {
    div#list {
        margin-top: $barHeight;
        width: 100%;
    }

    div#main {
        width: 100%;
        margin-bottom: $barHeight;
    }

    div#breadcrumb {
        display: none;
    }
}

div#main {
    div#meta {
        background-color: $highColor;
        color: $linkColor;
        font-size: 0.8em;
        font-family: $headerFont;
    }

    div#content {
        margin-top: 1em;
        margin-left: 2em;
        margin-right: 2em;

        img {
            @extend .centered
        }
    }
}

h2,
h3,
h4,
h5 {
    font-family: $headerFont;
}

h1 {
    font-family: $titleFont;
    font-size: 2.0em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    border-bottom: 2px ridge $bgColor;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

div.error {
    color: $redColor;
    text-align: center;
    border: 1px solid $redColor;
}

span.nobr {
    white-space: nowrap;
}

table {
    border: 1px solid $greyColor;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid $greyColor;
    }
}

img {
    border: 0;
}

@import 'form';
@import 'text';
