* {
    box-sizing: border-box;
}

@media screen and (max-resolution: 96dpi) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-resolution: 96dpi) {
    html {
        font-size: 18px;
    }
}

$whiteColor: #FFF;
$blackColor: #000;
$bgColor:#DEF;
$bgColor1: #BDF;
// This is the same as selection color.
$bgColor2: #7BF;
$bgColor3: #5AF;
$bgColor4: #39F;
$bgColor5: #18F;
$transBgColor: rgba(85, 170, 255, 0.5);
$linkColor:#55F;
$visitedColor: #A0A;
$sysColor: #0A0;
$highColor: #FFA;
$hotColor: #F55;
$lineColor: #AAA;

$normalFont: Serif;
$headerFont: Sans-Serif;
$titleFont: Fantasy;
$letterSpacing: 0.1em;

$barHeight: 31px;
$listWidth: 18rem;

@mixin ribbon {
    position: sticky;
    left: $listWidth;
    top: $barHeight;
    z-index: 1000;
}

body {
    margin: 0 !important;
    background-color: $bgColor !important;
    color: $blackColor;
    font-family: $normalFont;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: $letterSpacing;
    -webkit-font-smoothing: antialiased;
}

.border {
    border: 1px solid $lineColor;
}

.hot {
    color: $hotColor;
}

.sys {
    color: $sysColor !important;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nobr {
    white-space: nowrap;
}

a {
    background: transparent;
    text-decoration: none;

    &:link {
        color: $linkColor;
    }

    &:visited {
        color: $visitedColor;
    }

    &:hover {
        background: $whiteColor;
        color: $hotColor;
    }
}

em {
    font-style: inherit;
    text-decoration: underline;
}

div#bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $barHeight;
    background: $blackColor;
    color: $whiteColor;
    clear: both;
    z-index: 1000;

    span#logo {
        float: left;
    }

    img {
        vertical-align: top;
    }

    a {
        color: $whiteColor;
    }

    span#user {
        float: right;
    }
}

@media screen and (min-width: 54rem) {
    div#list {
        position: sticky;
        left: 0;
        top: $barHeight;
        float: left;
        width: $listWidth;
        margin-bottom: $barHeight;

        div.buttons {
            @include ribbon;
        }
    }

    div#main {
        margin-top: $barHeight;
        margin-left: $listWidth;
        border: 1px solid transparent;
        margin-bottom: $barHeight;

        div#meta {
            @include ribbon;
        }
    }

    span#breadcrumbs {
        font-family: $headerFont;
    }
}

@media screen and (max-width: 54rem) {
    div#list {
        margin-top: $barHeight;
        width: 100%;
    }

    div#main {
        width: 100%;
        margin-bottom: $barHeight;
    }

    div#breadcrumb {
        display: none;
    }
}

@mixin list-box {
    @extend .border;
    margin: 0.5rem;
    padding: 0;
}

div#list {
    font-family: $headerFont;

    div.buttons {
        @include list-box;
        margin-top: 0;
        background-color: $transBgColor;
        font-size: 0.8em;
        text-align: right;
    }

    fieldset {
        @include list-box;

        legend {
            font-family: Sans-Serif;
            font-size: 0.8em;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 0.5em;
            padding: 0;

            >i.bi {
                float: right;
            }
        }

        li.highlighted,
        li.highlighted a {
            background-color: $highColor;
        }
    }
}

div#main {
    div#meta {
        background-color: $transBgColor;
        font-size: 0.8em;
        font-family: $headerFont;

        span.buttons {
            @extend .nobr;
            float: right;
        }

        div#-ajax-msg {
            background-color: $whiteColor;
        }
    }

    img {
        @extend .centered
    }
}

h2,
h3,
h4,
h5 {
    font-family: $headerFont;
}

h1 {
    font-family: $titleFont;
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px ridge $bgColor;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

div.error {
    @extend .hot;
    text-align: center;
    border: 1px solid $hotColor;
}

table {
    @extend .border;
    border-collapse: collapse;

    th,
    td {
        @extend .border;

        p {
            margin: 0;
        }
    }
}

ul.icon {
    list-style: none;
    margin-top: 1ex;
    margin-bottom: 1ex;
    margin-left: -0.7em;
    text-indent: -0.8em;

    li {
        >i.bi:first-child {
            margin-right: 0.8em;
            color: $bgColor5;
        }
    }
}

img {
    border: 0;
}

@import 'form';
@import 'picture';
@import 'stylized';
@import 'text';
@import 'tool_tip';
