@use 'defs' as *;

table.stylized {
    @include border;
    border-collapse: collapse;
    width: 100%;

    @mixin cell {
        padding: 0.3em;
        border-left: 1px solid var(--line-color);
        border-right: 1px solid var(--line-color);
    }

    tr.header {
        position: sticky;
        top: $barHeight;
    }

    tr.top {
        position: sticky;
        top: $barHeight * 2;
    }

    tr.def {
        background: var(--bg-color);
    }

    tr.alt {
        background: var(--bg-color1);
    }

    th {
        @include cell;
        @include nobr;
        background: var(--bg-color2);
    }

    td {
        @include cell;

        i.bi {
            font-size: 0.8em;
        }
    }

    td.group {
        font-family: var(--header-font);
        background: var(--high-bg-color);

        >:first-child {
            margin-right: 2em;
        }
    }
}

span.stat {
    font-size: 0.8em;
    color: $hotColor;
}
