table.stylized {
    @extend .border;
    width: 100%;

    @mixin cell {
        @extend .border;
        padding: 0.3em;
    }

    tr.header {
        position: sticky;
        top: $barHeight;
    }

    tr.top {
        position: sticky;
        top: $barHeight * 2;
    }

    tr.def {
        background: $bgColor;
    }

    tr.alt {
        background: $bgColor1;
    }

    th {
        @include cell;
        font-family: Sans-Serif;
        background: $bgColor3;
    }

    td {
        @include cell;
        font-family: Serif;

        p.icon-list {
            font-size: 0.8em;
            margin-left: 2em;
            text-indent: -1em;

            >i.bi:first-child {
                margin-right: 0.8em;
                color: $bgColor5;
            }
        }

        i.bi {
            font-size: 0.8em;
        }
    }

    td.left-label,
    td.top-label {
        font-family: Sans-Serif;
        background: $highColor;
        text-align: center;
    }
}
