@use 'defs' as *;

$charWidth: 1em + $letterSpacing;
$indent: $charWidth * 2;

@mixin text {
    @include centered;
    margin-top: 1em;
    max-width: $charWidth * 40;

    p:not(.center) {
        text-indent: $indent;
    }

    ul,
    ol {
        margin-left: $indent - 0.5em;
    }

    pre {
        margin-left: $indent;
    }
}

div#main {
    div#html-body {
        @include text;

        table {
            @include border;
            margin-left: $indent;
            border-collapse: collapse;

            th,
            td {
                @include border;
            }
        }
    }

    div.text {
        @include text;

        ul {
            list-style: none;
        }

        table {
            border: 0;
            margin-left: $indent;

            td {
                border: 0;
            }

            td:first-child {
                @include nobr;
                vertical-align: top;
            }

            td:last-child {
                padding-left: 0.5em;
            }
        }
    }
}
