@use 'defs' as *;

div.tooltip {
    @include border;
    border-radius: 0.8em;
    font-size: 0.8em;
    background: var(--bg-color1);
    display: none;
    position: absolute;
    max-width: 80%;
    z-index: 10;

    >div:first-child {
        border-radius: 0.3em 0.3em 0 0;
        color: var(--dark-text-color);
        background: var(--dark-bg-color);
        width: 100%;

        >span:first-child {
            @include nobr;
            margin-left: 0.5em;
            margin-right: 3em;
        }

        >i:last-child {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    >div:last-child {
        padding: 0.3em;
    }
}
